{%include "./partials/header.ejs"%}

<div class="dropdown-sidebar">
  <a href="/beidou#ninjadou">Overview</a>
  <a href="/beidou#warriordou">Architecture</a>
  <a href="/beidou#kaidou">Perfomance</a>
  <a href="/beidou#superdou">Services</a>
  <a href="/beidou#samuraidou">Future and Evolutions</a>
  <a href="/beidou#attackdou">Status</a>
</div>

<div class="gps-home-text">
  <div id="ninjadou">
    <h4 style="padding-top: 50px">Overview</h4>
    <img class="one" alt="Picture1" src="assets/beidou/Picture1.png" />
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The BeiDou Navigation Satellite System (BDS) has been independently
      constructed and operated by China with an eye on the needs of the
      country’s national security and economic and social development. As a
      temporal-spatial infrastructure of national significance, the BDS provides
      all-time, all-weather and high-accuracy positioning, navigation and timing
      services to global users. Since provision of services, BDS has been widely
      used in transportation, agriculture, forestry, fisheries, hydrological
      monitoring, meteorological forecasting, communication, power dispatching,
      disaster relief, public security and other fields, and has been serving
      national significant infrastructures, thereby resulting in remarkable
      economic and social benefits. The BDS-based navigation services have been
      widely adopted by e-commerce enterprises, manufacturers of intelligent
      mobile terminals and location-based services providers, which have
      extensively entered into the fields of mass consumption, share economies,
      and those related to people's livelihood. New modes, business forms and
      economy of the BDS applications are emerging, profoundly changing people's
      production and life. China will continue to promote the BDS applications
      and industrial development, so as to serve the country's modernization
      construction and daily life of the people, and to make contributions to
      the global scientific, technological, economic and social
      development. China applies the principle that “BDS is developed by China,
      dedicated to the world, and aiming to be top-class”, and is keen to share
      the outcome of the BDS construction and development with all other
      countries, to promote global satellite navigation development and make
      Global Navigation Satellite Systems (GNSS) serve the world and benefit
      mankind. BDS provides spatial and temporal information security for
      economic and social development, and is one of the important achievements
      in the past 40 years of China’s reform and opening-up, and serves as a
      global public product contributed by China to the world. China will
      continue to actively promote international exchanges and cooperation, so
      as to achieve compatibility and interoperability with other satellite
      navigation systems in the world and provide global users with higher
      performance, more reliable and multiple services. 
    </p>
  </div>
  <div id="warriordou">
    <h4 style="padding-top: 50px">Architecture</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The BeiDou Navigation Satellite System (BDS), also known as BeiDou-2, is
      China’s second-generation satellite navigation system that will be capable
      of providing positioning, navigation, and timing services to users on a
      continuous worldwide basis. As for the other GNSSs, the main layers of
      BeiDou architecture are: BeiDou Space Segment: By 2020, the space segment
      will consist of a constellation of 35 satellites, which include 5
      geostationary orbit (GEO) satellites and 30 non-GSO satellites; 27 in
      Medium Earth Orbit (MEO) and 3 in Inclined Geosynchronous Orbit (IGSO).
      The constellation has been designed in order to provide a worldwide
      coverage. BeiDou Ground Segment: The components of the ground segment
      include a Master Control Station, Upload Stations and several Monitor
      Stations. BeiDou User Segment: The User Segment is composed of the BeiDou
      user terminals, which receive BeiDou navigation signals, determine
      pseudoranges (and other observables) and solve the navigation equations in
      order to obtain their coordinates. There is also an international
      cooperation in terms of Compatibility and Interoperability between BeiDou
      and other GNSSs, that will lead to terminals compatible with other GNSSs.
    </p>
  </div>
  <div id="kaidou">
    <h4 style="padding-top: 50px">Perfomance</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The BeiDou Navigation Satellite System (BDS), also known as BeiDou-2, is
      China’s second-generation satellite navigation systemthat will be capable
      of providing positioning, navigation, and timing services to users on a
      continuous worldwide basis[3]. The system is being deployed using an
      incremental approach and full operational capability is expected to be
      reached by 2020. The BeiDou System has been designed to reach accuracy
      levels similar to those of GPS and Galileo Open Service: positioning
      accuracy within 10 meters, timing accuracy within 50 ns and velocity
      accuracy within 0.2 meters per second. BeiDou Navigation Test System
      (BeiDou-1) The BeiDou-1 system was established in 2003, after the
      successful launch of BeiDou-1C satellite, for the area of the greater
      China and providing navigation, communication and timing services with
      performance characteristics as follows: Positioning: 100m (1σ); 20m (1σ,
      with reference stations). Regional Service short message service (SMS): up
      to 120 Chinese characters. Timing: 20 ns. BeiDou Navigation Satellite
      System (BeiDou-2) The Initial Operational Service of BeiDou System was
      officially declared in December 2011, for which the initial performances
      as reported in the Munich Satellite Navigation Summit of 2012 were:
      Service coverage area: regional Positioning accuracy: 25 meters
      horizontally adn 30 meters vertically Timing accuracy of 50 ns Velocity
      accuracy of 0.4 m/s These performances are being improved as the number of
      satellites in orbit increase and the user segment evolves. The global
      BeiDou system will be built by 2020 and it is being designed to offer the
      following performances for each BeiDou Services: Open service: a free
      service for civilian users with positioning accuracy better than 10
      meters, velocity accuracy better than 0.2 m/s and timing accuracy better
      than 50 nanoseconds, considering 95% probability. Authorized service: a
      licensed service with higher accuracy even in complex situations for
      authorized and military users only; Wide area differential positioning
      service: with positioning accuracy of sub-meter and meter for
      dual-frequency and single-frequency receivers; Short message service
      (SMS): up to 120 Chinese characters.
    </p>
  </div>
  <div id="superdou">
    <h4 style="padding-top: 50px">Services</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The BeiDou supports both global worldwide services and regional services.
      The global services can be further sub-divided in two other services: Open
      Service The Open Service is similar to GPS and Galileo and it is free of
      charge and open to all users worldwide. Users are able to compute their
      navigation solution using the same principles as for GPS and Galileo and
      the system is designed to provide a position accuracy of 10 meters, a
      timing accuracy of 50 ns and a velocity accuracy of 0.2 meters per second.
      Authorized Service The authorized service aims at ensuring high reliable
      use even in complex situations and there is little information about it.
      As far as regional services are concerned: Wide area differential services
      These services are foreseen for BeiDou and advertised to reach one meter
      positioning accuracy. Wide Area Augmentation is supported by BeiDou
      regional system: 30 stations broadcasting corrections by GEO and providing
      Cat I service in 2012. The current status of China GNSS Augmentation
      system reported in 2011 includes 21 coast stations providing 5 meters
      service for near sea ships. Short message service Short message service,
      also called Positioning Report Service, is supported by BeiDou-1 and
      consists in allowing the user and the station to exchange short messages
      (currently 120 Chinese characters per message). This service will probably
      be provided by BeiDou and may evolve to longer messages and not limited to
      position report.
    </p>
  </div>
  <div id="samuraidou">
    <h4 style="padding-top: 50px">Future and Evolutions</h4>
    <img class="one" alt="Picture1" src="assets/beidou/Picture2.png" />
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The BeiDou Navigation Satellite System (BDS), also known as BeiDou-2, is
      China’s second-generation satellite navigation system that will be capable
      of providing positioning, navigation, and timing services to users on a
      continuous worldwide basis. The BeiDou system is planned to be developed
      and deployed in three phases: Phase 1 (2003+) Phase 1 consists of an
      experimental regional navigation system, BeiDou-1, which provided active
      navigation service. Phase 2 (2012+) BeiDou-2 consists of a reduced
      satellite constellation and provides open service over China. This phase
      aims at deploying a system with passive positioning and timing capability
      over a regional area. Phase 3 (2020+) By 2020, BeiDou would reach full
      operational capability with a Walker constellation of 27 MEOs plus 5 GEOs
      and the existing 3 IGSOs satellites of the regional system. BeiDou would
      provide global navigation services, similarly to the GPS, GLONASS or
      Galileo systems.
    </p>
  </div>
  <div id="attackdou">
    <h4 style="padding-top: 50px">Status</h4>
    <img class="one" alt="Picture1" src="assets/beidou/Picture3.png" />
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      By December 2011, the BeiDou system went into operation on a trial basis
      providing initial passive positioning navigation and timing services for
      the whole Asia-Pacific region with a constellation of 10 satellites (5 GEO
      satellites and 5 IGSO satellites) and the Initial Operational Service was
      declared officially available. During 2012, four launches were made in
      February, April, September and October, placing in orbit two adittional
      GEO and four MEO satellites in-line with the objective of expanding the
      service area to Asian-Pacific users and improving service performance
      (positioning accuracy better than 10 meters). The constellation is
      currently composed by 6 GEO + 5 IGSO + 4 MEO which corresponds to 15
      operational satellites of the 35 planned. Furthermore, the first version
      of the SIS ICD for the BeiDou B1I open service signal was released on the
      27th December 2012 at a news conference held in Beijing by the Chinese
      State Council Information Office, where it was also announced that the
      english name of the system was now to be replaced with BeiDou Navigation
      Satellite System, instead of its translation, BeiDou. On March 30, 2015,
      the China Satellite Navigation Office (CSNO) announced the successful
      launch of the first New-Generation BeiDou Satellite. This is the 17th
      satellite for the BeiDou Navigation Satellite System (BDS) that marks the
      beginning of expanding the regional BDS to global coverage, scheduled to
      be fully deployed by 2020. On July 25, 2015, China launched two new
      satellites (18th and 19th) for the nation’s Beidou Navigation Satellite
      System. The spacecraft will be used to test the new BeiDou Phase III
      navigation signal and inter-satellite links. China will migrate its B1
      open civil signal from 1561.098 MHz to a frequency centered at 1572.42.
      The signal modulation will also change from a quadrature phase shift
      keying (QPSKZ) modulation to a multiplexed binary offset carrier (MBOC)..
      The two new satellites have begun operating and established
      inter-satellite links in the Beidou constellation on August 14,
      2015.Signals from those two last satellites were acquired at Ispra, Italy,
      in early August. On September 30, 2015, China has launched the 20th BeiDou
      satellite, with a series of tests related to the clock and a new Phase III
      navigation signal currently being undertaken, according to a statement
      from the China Satellite Navigation Office. In October, this last
      satellite started broadcasting a signal similar to the future GPS L1C
      signal with time-division BOC (1,1) and BOC (6,1) signals. On February 1,
      2016, China has launched the first Beidou satellite of the year, also part
      of the Beidou Phase III,[15] with the 2nd of the year (the 22nd Beidou
      satellite) following closely with its launch on March 29, 2016.[16] The
      23rd Beidou satellite was launched on June 12, 2016.[17]
    </p>
  </div>
</div>

{%include "./partials/footer.ejs"%}
