{% include "./partials/header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'gnss/css/content.css' %}" />

  <body>


    <div class = "con">
        
        <h1>Overview</h1>
        <div class="image">
            <img src="{% static 'gnss/assets/galileo/Picture1.png' %}" alt="">
        </div>
        <p
       
        
        >
        The Galileo program is Europe's initiative for a state-of-the-art global
        satellite navigation system, providing a highly accurate, guaranteed
        global positioning service under civilian control. While providing
        autonomous navigation and positioning services, Galileo is interoperable
        with other GNSS systems such as GPS and GLONASS The system, when fully
        deployed, will consist of 30 satellites, to be deployed in a staggered
        approach, and the associated ground infrastructure.. A user is able to
        take a position with the same receiver from any of the satellites in any
        combination. By offering dual frequencies as standard, Galileo delivers
        real-time positioning accuracy down to the meter range. It guarantees
        availability of the service under the most extreme circumstances and
        informs users of a failure of any satellite. The combination of Galileo
        and GPS signals (inter-operability) in dual receivers opens the door to
        new GPS application that require a higher level of precision than
        currently available with GPS alone. From most locations, six to eight
        Galileo satellites will be visible which, in combination with GPS signals,
        will allow positions to be determined up to within a few centimetres.
        Examples of these applications are: guide the blind, increase the success
        rate of rescue operations in the mountains, monitor the whereabouts of
        people suffering from Alzheimer Disease, etc. In addition, Galileo
        improves the overall availability and coverage of GNSS signals. For
        example, the higher number of satellites improves the availability of the
        signals in high rise cities where buildings can obstruct signals from
        satellites that are low on the horizon. With Galileo, Europe is able to
        exploit the opportunities provided by satellite navigation to the full
        extent. GNSS receiver and equipment manufacturers, application providers
        and service operators benefit from novel business opportunities
    </p>
    <p
   
  >
  INTRODUCTION
  </p>
  <p
   
  >
  The Galileo infrastructure is composed of: a constellation of 30
  satellites (including 6 spares) in Medium-Earth Orbit (MEO). Each
  satellite contains a navigation payload and a search and rescue
  transponder; a global network of Galileo Sensor Stations (GSS) providing
  coverage for clock synchronisation and orbit measurements; two Control
  Centres; a network of Mission Uplink stations; Telemetry, Tracking and
  Control (TT&C) stations. additional core infrastructure to service which
  support the provision of the Galileo service. This infrastructure is
  organized in two segments, the Space Segment and the Ground Segment, to be
  complemented by the user receivers, which compose the User Segment.
 
  </p>
  <p
   
  >
  GALILEO SPACE SEGMENT
  
  </p>
  <div class="image">
    <img src="{% static 'gnss/assets/galileo/Picture2.png' %}" alt="">
</div>
  <p
   
  >
    In January 2004 the Russian Space Agency (RSA) announced a deal with
      India's space agency, wherein the two government agencies would
      collaborate to restore GLONASS system to constant coverage of Russian and
      Indian territory by 2008 with 18 satellites, and be fully operational with
      all 24 satellites by 2010. During a December 2005 summit between Indian
      Prime Minister Manmohan Singh and Russian President Vladimir Putin, it was
      agreed that India would share some of the development costs of the
      GLONASS-K series and launch two of the new satellites from India, in
      return for access to the HP signal. On December 21, 2010, during the visit
      of Russian President Dmitry Medvedev to India, Russia and India signed an
      agreement to share high precision signals from the Global Navigation
      Satellite System (GLONASS). India is the first country that has been given
      access to the GLONASS military signal.
  
  
  </p>
  <p
   
  >
  GALILEO GROUND SEGMENT
  
  
  </p>
  <p
   
  >
  In January 2004 the Russian Space Agency (RSA) announced a deal with
  India's space agency, wherein the two government agencies would
  collaborate to restore GLONASS system to constant coverage of Russian and
  Indian territory by 2008 with 18 satellites, and be fully operational with
  all 24 satellites by 2010. During a December 2005 summit between Indian
  Prime Minister Manmohan Singh and Russian President Vladimir Putin, it was
  agreed that India would share some of the development costs of the
  GLONASS-K series and launch two of the new satellites from India, in
  return for access to the HP signal. On December 21, 2010, during the visit
  of Russian President Dmitry Medvedev to India, Russia and India signed an
  agreement to share high precision signals from the Global Navigation
  Satellite System (GLONASS). India is the first country that has been given
  access to the GLONASS military signal.
  
  </p>
  
  <h1>Perfomance</h1>
  <p

>
Galileo system is a space-based global navigation satellite system (GNSS)
that provides reliable positioning, navigation, and timing services to
users on a continuous worldwide basis. The Galileo system, once fully
operational, will offer four high-performance services worldwide: Open
Service (OS): Galileo open and free of charge service set up for
positioning and timing services. High Accuracy Service (HAS): A service
complementing the OS by providing an additional navigation signal and
added-value services in a different frequency band. The HAS signal can be
encrypted in order to control the access to the Galileo HAS services.
Public Regulated Service (PRS): Service restricted to
government-authorised users, for sensitive applications that require a
high level of service continuity. Search and Rescue Service (SAR):
Europe´s contribution to COMPAS-SARSAT, an international satellite-based
search and rescue distress alert detection system. The Galileo
performances are different for each service. For the Galileo Open Service
(OS) no specific requirements of integrity are applicable. The expected
performances, once Galileo system is fully deployed, for horizontal
positioning accuracy at 95% for a dual-frequency receiver are 4 m (8 m for
vertical accuracy), with an availability of the service of 99.5%.In the
case of the Galileo Public Regulated Service (PRS), the availability of
the service should be 99.5%.<br></br>
GALILEO SERVICE LEVEL PERFORMANCES
    <br></br>
    <div class="image">
      <img src="{% static 'gnss/assets/galileo/Picture3.png' %}" alt="">
  </div>


</p>
<p
      
    >
    Galileo declared its Initial Services status in December 2016 as the first
    step towards full operational capability. Galileo system deployment will
    continue with additional satellite launches to enlarge the constellation
    until it is completed, reaching the Full Operational Capability (FOC) of
    the Galileo system. Galileo OS SDD defined a series of Minimum Performance
    Levels to be achieved until FOC is reached.

    </p>
    <!-- <p
     
    >
      The Control Unit consists of several monitoring and control stations. The
      monitor stations monitor the GPS satellite signals. These signals are then
      sent to the master control station where operational specifications are
      checked and revised before transmitting the control signals back to the
      GPS satellites. They are sent back through ground antennas.<br></br>
      GALILEO SERVICE LEVEL PERFORMANCES
        <br></br>
    </p>
    <p
    
  >
    The User Unit is the term given to all GPS receivers like mobile phones,
    laptops, PC or any other device. The devices receives the signals from the
    GPS satellites and determines how far away it is from each satellite.
  </p> -->
  <h1>Services</h1>
  <div class="image">
    <img src="{% static 'gnss/assets/galileo/Picture4.png' %}" alt="">
</div>

  <p
 
>
The Galileo system, once fully operational, will offer four
high-performance services worldwide: Open Service (OS): Galileo open and
free of charge service set up for positioning and timing services. In the
future, the Galileo Open Service will also provide Navigation Message
Authentication, which will allow the computation of the user position
using authenticated data extracted from the navigation message. High
Accuracy Service (HAS): A service complementing the OS by providing an
additional navigation signal and added-value services in a different
frequency band. The HAS signal can be encrypted in order to control the
access to the Galileo HAS services. Public Regulated Service (PRS):
Service restricted to government-authorised users, for sensitive
applications that require a high level of service continuity. Search and
Rescue Service (SAR): Europe’s contribution to COSPAS-SARSAT, an
international satellite-based search and rescue distress alert detection
system.
</p>
<h1>Service Centre</h1>
<p
     
    >
    The objectives of the Centre are to: Provide companies and users with
    general information: provide basic services to the user community via a
    web portal and a user helpdesk. A dedicated website is available to help
    Galileo users to answer their needs. Distribute timely service notices:
    information on the system, system status and user notifications. Support
    service provision: sharing of R&D and industry knowledge by market
    segments. Provide up-to-date information and performance reporting on
    Programme status Provide support to application and product developers
    including access to market experts in key segments.
    </p>
    <!-- <h1>Service Centre</h1>
    <p
   
  >
    A Differential Global Positioning System (DGPS) is an enhancement to the
    Global Positioning System (GPS) which provides improved location accuracy,
    in the range of operations of each system, from the 15-metre (49 ft)
    nominal GPS accuracy to about 1–3 centimetres (0.39–1.18 in) in case of
    the best implementations. Each DGPS uses a network of fixed ground-based
    reference stations to broadcast the difference between the positions
    indicated by the GPS satellite system and known fixed positions. These
    stations broadcast the difference between the measured satellite
    pseudoranges and actual (internally computed) pseudoranges, and receiver
    stations may correct their pseudoranges by the same amount. The digital
    correction signal is typically broadcast locally over ground-based
    transmitters of shorter range. The United States Coast Guard (USCG) and
    the Canadian Coast Guard (CCG) each run DGPSes in the United States and
    Canada on longwave radio frequencies between 285 kHz and 325 kHz near
    major waterways and harbors. The USCG's DGPS was named NDGPS (Nationwide
    DGPS) and was jointly administered by the Coast Guard and the U.S.
    Department of Defense's Army Corps of Engineers (USACE). It consisted of
    broadcast sites located throughout the inland and coastal portions of the
    United States including Alaska, Hawaii and Puerto Rico.Other countries
    have their own DGPS. A similar system which transmits corrections from
    orbiting satellites instead of ground-based transmitters is called a
    Wide-Area DGPS (WADGPS) Satellite Based Augmentation System.
  </p> -->
  

        </div>      
  
    </div>
    <my-footer></my-footer>
    <script type =module src = ../js/custom.js></script>
    <script src="../js/Jquery3.4.1.min.js"></script>
  
    <!-- --------- Owl-Carousel js ------------------->
    <script src="../js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="../js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="../js/main.js"></script>

      
    
  </body>
</html>
