{%include "./partials/header.ejs"%}

<div class="dropdown-sidebar">
  <a href="/glonass#glonassoverview">Overview</a>
  <a href="/glonass#glonassavail">Architecture</a>
  <a href="/glonass#glonassreal">Perfomances</a>
  <a href="/glonass#glonassdaily">Availability</a>
  <a href="/glonass#glonassvis">Services</a>
  <a href="/glonass#glonassgdm">Status</a>
  <a href="/glonass#glonassgzc">Daily Monitoring</a>
  <a href="/glonass#glonassgdxx">Zone Calculation</a>
</div>

<div class="gps-home-text">
  <div id="glonassoverview">
    <h4 style="padding-top: 50px">Overview</h4>
    <img class="one" alt="Picture1" src="assets/glonass/Picture1.png" />
    <p
      style="
        font-size: 20px;
        padding-top: 5px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      GLONASS was developed by the Soviet Union as an experimental military
      communications system during the 1970s. When the Cold War ended, the
      Soviet Union recognized that GLONASS had commercial applications, through
      the system’s ability to transmit weather broadcasts,
      communications, navigation and reconnaissance data. The first GLONASS
      satellite was launched in 1982 and the system was declared fully
      operational in 1993. After a period where GLONASS performance declined,
      Russia committed to bringing the system up to the required minimum of 18
      active satellites. Currently, GLONASS has a full deployment of 24
      satellites in the constellation. GLONASS consists of three components: the
      space segment, the ground segment and the user segment. The space segment
      consists of the actual satellites in orbit. The ground segment consists of
      a master control station (MCS) at Moscow and four monitor stations in St.
      Petersburg, Ternopol, Eniseisk and Komsomolsk-na-Amure. The user segment
      consists of all the military and civilian receivers. When fully deployed,
      the space segment will consist of a constellation of 24 GLONASS
      satellites. These satellites are arranged in three orbital planes with
      eight satellites in each plane. Three of these 24 satellites, one in each
      orbital plane, are active on-orbit spares that are used to replace any
      malfunctioning satellite in that plane. A 21-satellite constellation
      provides continuous, 4-satellite visibility over 97% of the Earth's
      surface, whereas a 24-satellite constellation provides continuous
      observation of no fewer than 5 satellites simultaneously from more than
      99% of the Earth's surface. The GLONASS satellites in the constellation
      are referenced by their slot number and by their fiequency channel. The
      slot number refers to the position of the satellite in orbit. Slots 1-8
      are in plane I, slots 9-16 are in plane I1 and slots 17-24 are in plane
      111. If a GLONASS satellite is referred to as 01/12, it is in slot 1 and
      transmitting on fiequency channel 12. 6 The GLONASS orbital planes of the
      satellites are inclined at a nominal 64.8 degrees with respect to the
      equatorial plane and are spaced by 120 degrees in longitude. The orbital
      radius is 25,510 km (19,100 km above the surface of the Earth). Figure 2.1
      shows the GLONASS orbital configuration. This arrangement results in an
      orbital period of the satellites of approximately 11.25 hours. Therefore,
      the orbital period is 8/17 of a sidereal day such that, after eight
      sidereal days, the GLONASS satellites have completed exactly 17 orbital
      revolutions. For an observer on the earth, a particular satellite will
      reappear at the same place in the sky after eight sidereal days.
    </p>
  </div>
  <div id="glonassavail">
    <h4 style="padding-top: 50px">Architecture</h4>
    <img class="one" alt="Picture1" src="assets/glonass/Picture2.png" />
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      Introduction
    </h1>

    <p
      style="
        font-size: 20px;
        padding-top: 5px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The GLONASS infrastructure consists of: A constellation of 24 satellites
      distributed over three orbital planes; the System Control Centre (SSC)
      located at Krasnoznamensk; two Uplink stations; the Central Clock situated
      in Schelkovo (near Moscow) a network of four Monitoring and Measuring
      Stations (MS); five Telemetry, Tracking and Control (TT&C) stations.
      GLONASS infrastructure is organized in two segments, the Space Segment and
      the Ground Segment, to be complemented by the users receivers, which
      compose the User Segment.
    </p>
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      GLONASS SPACE SEGMENT
    </h1>
    <p
      style="
        font-size: 20px;
        padding-top: 5px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The main functions of the Space Segment are to transmit radio-navigation
      signals, and to store and retransmit the navigation message sent by the
      Control Segment. The GLONASS space segment consists of 24 operational
      satellites, distributed over three orbital planes. The longitude of
      ascending node differs by 120 deg from plane to plane and each plane
      comprises eight satellites, staggered by 45 deg in argument of latitude.
      The satellites operate in circular orbits at an altitude of 19100-km, an
      inclination of 64.8 deg and each satellite completes the orbit in
      approximately 11 hours 15 minutes.
    </p>
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      GLONASS GROUND SEGMENT
    </h1>
    <p
      style="
        font-size: 20px;
        padding-top: 5px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The GLONASS User Segment consists of L-band radio receiver/processors and
      antennas which receive GLONASS navigation signals, determine pseudoranges
      (and other observables), and solve the navigation equations in order to
      obtain their coordinates and provide a very accurate time. Although the
      GLONASS constellation is nearing global coverage, its commercialization,
      especially development of the user segment, has been lacking compared to
      the U.S. GPS system. To improve the situation, the Russian government has
      been actively promoting GLONASS for civilian use. The government is
      planning to force all car manufactures in Russia to make cars with GLONASS
      and they announced, in February 2011, that all passenger cars, large
      transport vehicles and vehicles transporting dangerous materials were
      required to use GLONASS-equipped navigators since July 2011. Besides,
      Russian efforts to improve GLONASS accuracy are getting results, several
      electronic companies have announced the launching of new receivers
      supporting GLONASS.
    </p>
  </div>
  <div id="glonassreal">
    <h4 style="padding-top: 50px">Perfomances</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      Equivalent to the Standard Positioning Service (SPS) and the Precise
      Positioning Service (PPS) of GPS, GLONASS provides a standard precision
      (SP) navigation signal and a high precision (HP) navigation signal, also
      referred to as Channel of Standard Accuracy (CSA) and Channel of High
      Accuracy (CHA), respectively. However, as in GPS there is Standard
      Positioning Service Performance and the Precise Positioning Standard, in
      GLONASS there is no document specifying the performances provided by each
      service. According to Sergey Revnivykh, the deputy head of the GLONASS
      Mission Control Center, a GLONASS performance document will be released in
      the 2012-2013 time frame. It has been stated that at peak efficiency, the
      SP signal offers horizontal positioning accuracy within 5–10 meters,
      vertical positioning within 15 meters, a velocity vector measuring within
      10 cm/s, and timing within 200 ns. However, these specifications are
      outdated, based on the performances provided by GLONASS in the year 2000,
      before starting the Modernization Plan. Currently, accuracy comparisons
      provided by the Russian System of Differential Correction and Monitoring,
      show that GLONASS is slightly less accurate than GPS.
    </p>
  </div>
  <div id="glonassdaily">
    <h4 style="padding-top: 50px">Availability</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The low number of operational satellites in the constellation (in 2001
      there were only seven satellites) along with a ground segment limited to
      Russian territory, have been the main reasons of GLONASS poor availability
      performance. The modernization of the Ground Segment, including new
      monitoring stations (some of them outside Russia) and especially the
      increase of the number of satellites in the constellation (in the present,
      GLONASS constellation consists of 31 satellites in orbit although only 23
      of them are operational), have led to almost worldwide coverage and 100%
      availability in the Russian territory. The table included below shows the
      increasing of the number of satellites and the availability performance
      (calculated as the percentage of time during which the condition PDOP <= 6
      is valid at mask angles >= 5 deg) from the beginning of 2007 to beginning
      2012.
    </p>
    <img class="one" alt="Picture1" src="assets/glonass/Picture3.png" />
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      According to the table above, in January 23 2012 there were 31 GLONASS
      satellites in orbit, being 23 of them in operational status. The following
      figure presents the corresponding worldwide Availability Performance
      (calculated as the percentage of time during which the condition PDOP = 6
      is valid for a masking angle of 5 degrees).
    </p>
    <img class="one" alt="Picture1" src="assets/glonass/Picture4.png" />
  </div>
  <div id="glonassvis">
    <h4 style="padding-top: 50px">Services</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      Equivalent to the Standard Positioning Service (SPS) and the Precise
      Positioning Service (PPS) of GPS, GLONASS provides a standard precision
      (SP) navigation signal and a high precision (HP) navigation signal, namely
      the Channel of Standard Accuracy (CSA) and Channel of High Accuracy (CHA),
      respectively.
    </p>
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      STANDARD PRECISION SERVICES
    </h1>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      Originally, the Standard Precision signal was transmitted only on L1,
      whereas the High Accuracy code was transmitted both on L1 and L2. The
      modernization of GLONASS began with the launch of second generation of
      satellites, GLONASS-M. Since that moment on, a second civil signal on L2
      band is transmitted, allowing user to cancel out the ionospheric
      refraction. Currently, with the first GLONASS-K sent into orbit, a third
      civil signal on L3 band is available for civilian users (for more
      information, please refer to GLONASS Space Segment). The Standard
      Precision signals are generated by the Modulo-2 addition of the following
      three binary signals: PR ranging code transmitted at 511 kbps. Navigation
      message transmitted at 50 bps, and 100 Hz auxiliary meander sequence.
      Given sequences are used for modulation of carriers in L1 and L2 sub-bands
      when generating standard accuracy signals. PR ranging code is a sequence
      of maximum length of shift register with a period 1 millisecond and bit
      rate 511 kbps. PR ranging code is sampled at the output of 7th stage of
      the 9-stage shift register. The initialization vector to generate this
      sequence is (111111111). The first character of the PR ranging code is the
      first character in the group 111111100, and it is repeated every 1
      millisecond. The generating polynomial, which corresponds to the 9-stage
      shift register, is G(X) = 1 + X5 + X9..
    </p>
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      HIGH PRECISION SERVICE
    </h1>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      The High Precision signal is broadcast in phase quadrature with the SP
      signal, effectively sharing the same carrier wave as the SP signal, but
      with a ten times higher bandwidth (5.11 Mbps) than the SP signal. GLONASS
      is not degraded artiﬁcially by the system operators. Neither there are
      plans to introduce such measures in future. The GLONASS P-code never was
      published by the system operators, but it was made known to the scientific
      community. This means, the GLONASS P-code is fully available. However,
      along with the P-code not being published by the system operators, it
      neither was officially released for use outside the Russian Armed Forces.
      Instead, they reserve the right to alter the code in future. This keeps a
      number of potential users and receiver manufacturers from actually
      implementing the GLONASS P-code.
    </p>
    <h1
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      MILITARY SIGNAL ACCESS
    </h1>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      In January 2004 the Russian Space Agency (RSA) announced a deal with
      India's space agency, wherein the two government agencies would
      collaborate to restore GLONASS system to constant coverage of Russian and
      Indian territory by 2008 with 18 satellites, and be fully operational with
      all 24 satellites by 2010. During a December 2005 summit between Indian
      Prime Minister Manmohan Singh and Russian President Vladimir Putin, it was
      agreed that India would share some of the development costs of the
      GLONASS-K series and launch two of the new satellites from India, in
      return for access to the HP signal. On December 21, 2010, during the visit
      of Russian President Dmitry Medvedev to India, Russia and India signed an
      agreement to share high precision signals from the Global Navigation
      Satellite System (GLONASS). India is the first country that has been given
      access to the GLONASS military signal.
    </p>
  </div>
  <div id="glonassgdm">
    <h4 style="padding-top: 50px">Status</h4>
    <img class="one" alt="Picture1" src="assets/glonass/Picture5.png" />
    
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
    As on June 5, 2021, the GLONASS system consists of total 27satellites, of which 23 are operational, 1 is undergoing maintenance, 1 as Spares and 2 in flight tests phase. The system requires 18 satellites for continuous navigation services covering the entire territory of the Russian Federation, and 24 satellites to provide services worldwide.
    The system GLONASS covers the navigational floor 100% territory to Russia.
    The GLONASS system’s capability enhancements through satellites generations are listed in the table
    </p>
    <img class="one" alt="Picture1" src="assets/glonass/Picture6.png" />
  </div>
  <div id="glonassgzc">
    <h4 style="padding-top: 50px">Daily Monitoring</h4>
    <img class="one" alt="Picture1" src="assets/glonass/Picture7.png" />
   
  </div>
  <div id="glonassgdxx">
    <h4 style="padding-top: 50px">Zone Calculation</h4>
    <p
      style="
        font-size: 20px;
        padding-top: 25px;
        margin: 25px 50px 75px 100px;
        text-align: justify;
      "
    >
      GDOP ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit
      sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus
      laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod
      nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed
      sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque
      mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis
      eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula,
      vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa
      lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius
      diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus
      lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac,
      blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum.
      Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id
      venenatis risus, sit amet aliquet libero. Sed quis purus bibendum,
      consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id
      vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras
      dignissim purus interdum, interdum orci eget, aliquam magna Dummy text
      refers to the bits of content that are used to fill a website mock-up.
      This text helps web designers better envision how the website will look as
      a finished product. It is important to understand that dummy text has no
      meaning whatsoever. Its sole purpose is to fill out blank spaces with
      “word-like” content, without making any copyright infringements. Dummy
      text is also known as filler text or placeholder text, and it has been
      used for a long time in the various fields of online publishing.Now you
      know what dummy text is, let’s learn about its usefulness. Some people say
      that they don’t need to use a dummy text generator to deliver a web design
      project to the customer. Even though this might be true, the effect that
      the final project will produce on the client won’t be as satisfactory as
      in the case of one with included filler content.Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint
      commodi repudiandae consequuntur voluptatum laborum numquam blanditiis
      harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque
      rerum! Provident similique accusantium nemo autem. Veritatis obcaecati
      tenetur iure eius earum ut molestias architecto voluptate aliquam nihil,
      eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit, tenetur
      error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo
      neque error repudiandae fuga? Ipsa laudantium molestias eos sapiente
      officiis modi at sunt excepturi expedita sint? Sed quibusdam recusandae
      alias error harum maxime adipisci amet laborum. Perspiciatis minima
      nesciunt dolorem! Officiis iure rerum voluptates a cumque velit quibusdam
      sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur fugiat,
      temporibus enim commodi iusto libero magni deleniti quod quam
      consequuntur! Commodi minima excepturi repudiandae velit hic maxime
      doloremque. Quaerat provident commodi consectetur veniam similique ad
      earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo
      fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore
      suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab
      laudantium modi minima sunt esse temporibus sint culpa, recusandae aliquam
      numquam totam ratione voluptas quod exercitationem fuga. Possimus quis
      earum veniam quasi aliquam eligendi, placeat qui corporis!
    </p>
  </div>
</div>

{%include "./partials/footer.ejs"%}
