{% include "./partials/header.html" %}

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>
<body>
    <main>

        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h2>Discover.</h2>
                <h2>Learn.</h2>
                <h2>Connect with GNSS</h2>
                <button class="btn">Explore</button>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->
    
        

        <!-- --------------------- Blog Carousel ----------------- -->

        <section>
            <div class="blog">
                <div class="container">
                    <div class="blog-head">
                        
                    <p>News/Comments</p>
                    </div>
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">               
                            <div class="blog-title">
                                <h3>Umesh</h3>
                                <button class="btn btn-blog">The UI seems quite responsive. Hats off to the Dev team :)</button>
                                <span>2 minutes</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                            
                            <div class="blog-title">
                                <h3>Madhav</h3>
                                <button class="btn btn-blog">I have added Calculation for IRNSS Page, Please Check that</button>
                                <span>2 hrs ago</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                           
                            <div class="blog-title">
                                <h3>Viraj Holla</h3>
                                <button class="btn btn-blog">Global Overview Updated for next submission. Fell free to use</button>
                                <span>3 hrs ago</span>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                           
                            <div class="blog-title">
                                <h3>News</h3>
                                <button class="btn btn-blog">Breaking: ISRO Prevents Collision of Chandrayan 2 with NASA</button>
                                <span>2 hrs</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>


    <!-- --------------------------- Footer ---------------------------------------- -->
    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>ABOUT US</h2>  
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>CONTACT US</h2>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>FAQ</h2>
   
                
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>FEEDBACK</h2>
        
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2021 All rights reserved
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

   

    <!-- -------------x------------- Footer --------------------x------------------- -->
</body>

</html>